/*GENERAL/////////////////////////////////////////////////////////*/
@import url('https://fontlibrary.org/face/hk-grotesk');
@import url('https://fontlibrary.org/face/hkgrotesklight');

body {    
    font-family: 'HKGroteskLight', sans-serif;
    font-weight: normal;
    font-style: normal; 
    overflow-x: hidden;
    overflow-y: hidden;
	width: auto;
}

h2{
    font-family: 'HKGroteskRegular', sans-serif !important;
    font-weight: bold;
    margin-bottom: 0;
}

hr{
    border: 2px solid #E03E52;
    border-radius: 2px;
    margin-top: 0;
	margin-left: 0;
    margin-bottom: 30px;
	width: 50px;
}

.section-padding{
	margin-top: 80px; 
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
    padding-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.section-padding .btn{
	border-radius: 20px;
}

/*GIF INICIAL/////////////////////////////////////////////////////////*/
.firstpage{
    height: 100vh;
    width: 100vw;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.firstpage img{
    width: 200px;
    height: auto;
    justify-content: center;
    align-content: center;
}

/*REDES SOCIALES/////////////////////////////////////////////////////////*/
.marco{
	position: fixed;
	z-index: 9;
}

.rrssbutton:hover img{
	opacity: 0.8;	
	transform: scale(1.1);
}

.rrssbutton img{
	transition: all 0.1s;	
	-moz-transform: all 0.1s;
	-webkit-transform: all 0.1s;
}

/*NAVBAR/////////////////////////////////////////////////////////*/
.navbar{
    visibility: hidden;
    z-index: 10;
}

.navbar-brand img{
    width: 100px;
	height: auto;
}

.navbar-toggler {
    border: 0 none;
}

.btnJoin{
    border-radius: 22px;
	font-size: 18px;
}

/*HERO/////////////////////////////////////////////////////////*/
.hero{
	height: 100vh;
	width: 100wh;
	/* Flexbox things */
	display: flex;
	justify-content: left;
	align-items: center;
	
    text-align: left;
	color: #000;
	
	/* Background styles */
    background-image: url("inicio1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;	
    background-size: cover;

}

.hero-inner{
	padding-left: 150px;
}

.hero h1{
    font-size: 5em;
}

.hero a {
    border-radius: 22px;
}

/*WHAT WE DO//////////////////////////////////////////////////*/
#whatwedocontent{
	height: 100vh;
	width: 100wh;
	background-image: url("foto1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: auto;
	
	display: flex;
	justify-content: left;
	align-items:flex-end;
	
}

.whatwedoLogos{
    margin-top: 60px;
	margin-bottom: 10px;
}

.whatwedoLogos img{   
    width: 150px;
	height: auto;
}

.greenShape{
	background-image: url("greenShape.png");
	color: #fff;
	margin-right: 0;
	margin-bottom: -20px;
}

.greenShape p{
	margin-top: 60px;
	margin-right: 100px;
	margin-left: 150px;
}
/*PROJECTS//////////////////////////////////////////////////*/
#currentProjects img{
    width: 150px;
    height: 150px;    
}

.btn-LearnMore{
    background-color: #226168;
    border: 0;
    border-radius: 30px;
}

.timeline{
	position: relative;
	margin: auto;
	max-width: 1200px;
}

.timeline:after{
	content: '';
	position: absolute;
	width: 3px;
	background: #7C7575;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px; 
}

.timelinePanel{
	width: 50%;
	padding: 20px;
	position: relative;
}

.timelinePanel:after{
	content: '';
	position: absolute;
	width:13px;
	height:13px;
	border-radius: 50%;
	background: #7C7575;
	right: -5px;
	z-index: 1;
	top: 28px;
}

.tpLeft{
	left: 0;
	text-align: right;
}

.tpLeft h4{
	color: #E03E52;
	font-weight: bold;
}


.tpRight{
	left: 50%;
}

.tpRight h4{
	color: #226168;
	font-weight: bold;
}

.tpRight:after{
	left: -8px;
}

@media (max-width: 767px) {
	.timeline:after{
		left:50px;
	}

	.timelinePanel{
		width: 100%;
		padding-left: 70px;
	}
	
	.timelinePanel:after{
		left:42px;
	}
	
	.tpRight{
		left: 0;
	}

	.tpLeft{
		text-align: left;
	}
	
	.hero{
		background-image: url("inicio1Mobile.jpeg");
		align-items:flex-start;
	}
	
	.hero-inner{
		padding-top: 120px;
		padding-left: 60px;
	}
	
	.hero h1{
    	font-size: 4em;
	}
	
	#whatwedocontent{
		margin-bottom: 240px;
	}
	.greenShape p{
		margin-top: 20px;
		margin-right: 20px;
		margin-left: 50px;
	}
}

/*EVENTS//////////////////////////////////////////////////*/
#events h3{
	font-weight: bold;
}

.btn-Inscription{
	background-color: #E03E52;
    /*background-color: #226168;*/
    border: 0;
    border-radius: 35px !important;
}
.pastEvents .card{
	cursor: pointer;
}

.card-body{
	text-align: center;
}

.card-title{
	font-weight: bold;
}

.zoom{
	position: relative;
	overflow: hidden;  
}

.zoom img{
	transition: all 0.3s;
	-moz-transform: all 0.3s;
	-webkit-transform: all 0.3s;
}

.zoom:hover img{
	opacity: 0.8;	
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	visibility:visible;
}

#events .collapse{
	margin-top: 100px;
}

.collapse h3{
	font-weight: bold;
}
/*MEMBERS/////////////////////////////////////////////////////////*/
.memberBoxImage {
    position: relative;	
}

.memberBoxImage img{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}

.memberImgFormal {
    z-index: 1;
}

.memberImgInformal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden; 
}

.memberBoxImage:hover .memberImgFormal {
    visibility: hidden;
}

.memberBoxImage:hover .memberImgInformal {
    visibility: visible;
}

.memberBoxDescription{
    margin-top: 210px;
    text-align: center;
}

.memberName{
    font-weight: bold;
}

/*CONTACT/////////////////////////////////////////////////////////*/
.form-control {
    border-width:1px !important;
}

.iconosFooter img{                
    width: 30%;
	height: 30%;	    
}

.section-padding-contact .btn{
    background-color: #226168;
    border: 0;
    border-radius: 14px;
}

input{
    display: flex;
    flex-grow: 1;
}


/*FOOTER/////////////////////////////////////////////////////////*/
.page-footer{
    background-color: #000000;
    color:white;
}

/*NEWSLETTER////////////////////////////////////////////////////////*/

.modal-content {
	border-radius: 30px;
	border-color: transparent;
	box-shadow: none;
	color: #fff;
}

.modal-header {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
  	background: #E03E52;
}

.modal-body{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: #226168;
}

#newsletterTitle{
	font-weight: normal;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
}

.close {
    color: #fff; 
    opacity: 1;
}

.newsletter .form-control{
	border-color: #fff;
	background-color: #226168;
	color: #fff;
}
.btn-Newsletter{
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	color: #226168;
	background: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.btn-Newsletter:hover {
 	text-decoration: none;
}