/*GENERAL/////////////////////////////////////////////////////////*/
@import url('https://fontlibrary.org/face/hk-grotesk');
@import url('https://fontlibrary.org/face/hkgrotesklight');

body {    
    font-family: 'HKGroteskLight', sans-serif;
    font-weight: normal;
    font-style: normal; 
    overflow-x: hidden;
    overflow-y: hidden;
}

h2{
    font-family: 'HKGroteskRegular', sans-serif !important;
    font-weight: bold;
    margin-bottom: 0;
}

hr{
    border: 2px solid #292828;
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 30px;
	width: 50px;
}

.section-padding{
	margin-top: 80px; 
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
    padding-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.section-padding .btn{
	border-radius: 20px;
}

/*GIF INICIAL/////////////////////////////////////////////////////////*/
.firstpage{
    height: 100vh;
    width: 100vw;
    background-color: black;
    cursor: pointer;
    overflow-y: hidden;
    justify-content: center;
    align-content: center;
}

.firstpage img{
    width: 600px;
    height: auto;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
}

/*REDES SOCIALES/////////////////////////////////////////////////////////*/
.marco{
	position: fixed;
	z-index: 9;
}

.rrssbutton:hover img{
	opacity: 0.8;	
	transform: scale(1.1);
}

.rrssbutton img{
	transition: all 0.1s;	
	-moz-transform: all 0.1s;
	-webkit-transform: all 0.1s;
}

/*NAVBAR/////////////////////////////////////////////////////////*/
.navbar{
    visibility: hidden;
    color: blue; 
    z-index: 999;
}

.navbar-brand img{
    width: 100px;
	height: auto;
}

.navbar-toggler {
    border: 0 none;
}

.btnJoin{
    border-radius: 20px;
}
   
.divCollapse{
	width: 120px;
}

/*HERO/////////////////////////////////////////////////////////*/
.hero{
	height: 100vh;
	width: 100wh;
	/* Flexbox things */
	display: flex;
	justify-content: center;
	align-items: center;
	
    text-align: left;
	color: white;
	
	/* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("HeroIC.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;	
    background-size: cover;

}

.hero h1{
    text-shadow:2px 2px #333;
    font-size: 5em;
    font-weight: bold;
}

.hero h2{
	text-shadow:2px 2px #333;
    font-weight: bold;
}

.hero h3{
	text-shadow:2px 2px #333;
    font-weight: bold;
}

.hero a {
    border-radius: 20px;
}

/*WHAT WE DO//////////////////////////////////////////////////*/
.whatwedoLogos{
    margin-top:250px;
}

.whatwedoLogos img{
	margin-top: 20px;
    height: 60px;
    width: 194x;
}

/*PROJECTS//////////////////////////////////////////////////*/
#currentProjects img{
    width: 150px;
    height: 150px;
    
}

.btn-LearnMore{
    background-color: #226168;
    border: 0;
    border-radius: 20px;
}

/*PREVIOUS PROJECTS*/
.timeline{
	position: relative;
	margin: auto;
	max-width: 1200px;
}

.timeline:after{
	content: '';
	position: absolute;
	width: 3px;
	background: #7C7575;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px; 
}

.timelinePanel{
	width: 50%;
	padding: 20px;
	position: relative;
}

.timelinePanel:after{
	content: '';
	position: absolute;
	width:13px;
	height:13px;
	border-radius: 50%;
	background: #7C7575;
	right: -5px;
	z-index: 1;
	top: 28px;
}

.tpLeft{
	left: 0;
	text-align: right;
}

.tpLeft h4{
	color: #E03E52;
	font-weight: bold;
}


.tpRight{
	left: 50%;
}

.tpRight h4{
	color: #226168;
	font-weight: bold;
}

.tpRight:after{
	left: -8px;
}

@media (max-width: 767px) {
	.timeline:after{
		left:50px;
	}

	.timelinePanel{
		width: 100%;
		padding-left: 70px;
	}
	
	.timelinePanel:after{
		left:42px;
	}
	
	.tpRight{
		left: 0;
	}

	.tpLeft{
		text-align: left;
	}
	
	.hero-inner{
		margin-left:60px;
		margin-right: 10px;
	}
	.hero h1{
    	text-shadow:2px 2px #333;
    	font-size: 4em;
    	font-weight: bold;
	}

	.hero h2{
		text-shadow:2px 2px #333;
		font-weight: bold;
	}

	.hero h3{
		text-shadow:2px 2px #333;
		font-weight: bold;
	}
}

/*MEMBERS/////////////////////////////////////////////////////////*/
.memberBoxImage {
    position: relative;	
}

.memberBoxImage img{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}

.memberImgFormal {
    z-index: 1;
}

.memberImgInformal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden; 
}

.memberBoxImage:hover .memberImgFormal {
    visibility: hidden;
}

.memberBoxImage:hover .memberImgInformal {
    visibility: visible;
}

.memberBoxDescription{
    margin-top: 210px;
    text-align: center;
}

.memberName{
    font-weight: bold;
}

/*CONTACT/////////////////////////////////////////////////////////*/
.form-control {
    border-width:1px !important;
}

.iconosFooter img{                
    width: 30%;
	height: 30%;	    
}

.section-padding-contact .btn{
    background-color: #226168;
    border: 0;
    border-radius: 14px;
}

input{
    display: flex;
    flex-grow: 1;
}


/*FOOTER/////////////////////////////////////////////////////////*/
.page-footer{
    background-color: #000000;
    color:white;
}

.modal {
    color:black;
}